.cart {
   padding: 30px;
   border: 1px solid $borderColor;
   text-align: center;

   &-media {
      a {
         display: block;
         overflow: hidden;
      }

      img {
         transition: all .3s ease-in-out;
      }

      &:hover img {
         opacity: .8;
      }
   }

   &-content {
      margin-top: 40px;
   }

   &-date h6 {
      margin-top: 5px;
   }
}